<div class="all">
<h1>Editing Book</h1>

<%= form_with model: @book, local:true do |f| %>
    <div class="field">
    <%= f.label :title, 'Title' %>
    <%= f.text_field :title %>
    </div>
    <div class="field">
    <%= f.label :body, 'Body' %>
    <%= f.text_area :body %>
    </div>
    <div class="field">
    <%= f.submit 'Update Book' %>
    </div>
    <p class="hov"><%= link_to "Show", book_path(@book) %> |
    <%= link_to "Back", books_path %></p>

<% end %>
</div>